<swiper-container #swiper>
    <swiper-slide>

        <events-stripe-payment-form-modal
                (modalClosed)="$event.status === 'SUCCESS'? userEventTicketCreated.emit($event.data):''"
                [eventTicket]="selected_event_ticket?.event_ticket"
                #paymentFormModalComponent
        ></events-stripe-payment-form-modal>


        <ion-row class="default-horizontal-padding row-align-center font-weight-700">
            <ion-col size="12"
                     class="pv-6 ion-align-items-center border-bottom-grey-1 ion-text-center d-flex ion-justify-content-between">
                <ion-label class="vertical-align-middle">
                    RSVP
                </ion-label>
                <ion-label>
                    <ion-icon (click)="closeModel()" class="border-radius-50-percent bg-purple" size="large"
                              name="close-outline"></ion-icon>
                </ion-label>
            </ion-col>
            <ion-col size="12">


                <events-get-event-tickets-by-event-no-template
                        [event]="event"
                        (eventTicketsReceived)=" event_tickets = getEventTicketsByEventNoTemplateComponent.eventTickets"
                        #getEventTicketsByEventNoTemplateComponent></events-get-event-tickets-by-event-no-template>

                <events-get-event-ticket-infos-by-event-no-template
                        [event]="event" (eventTicketInfosReceived)="event_ticket_infos=$event;"
                ></events-get-event-ticket-infos-by-event-no-template>


                <ion-row *ngFor="let event_ticket_info of event_ticket_infos" class="">
                    <ion-col size="12" class="pa-4 border-grey br-2 mt-6"
                             *ngIf="event_ticket_info.event_ticket.ticket_type==='FREE'">

                        <ion-label
                                class="font-color-primary font-size-16px">{{event_ticket_info.event_ticket.event.event_title}}</ion-label>
                        <br>
                        <br>
                        <ion-label class="d-flex border-bottom-1px-dashed-grey-1 pb-5 w-100p"></ion-label>
                        <br>
                        <ion-label class="mt-5 d-inline-block  font-size-16px font-color-grey-2">Are you attending this
                            event?
                        </ion-label>
                        <br>

                        <span class="d-inline-block mt-4">

                        <ion-button shape="round" color="grey-1" fill="outline" class="mr-6 pv-16px ph-40px mt-24px"
                                    (click)="selected_event_ticket = event_ticket_info; printEventT(); slideNext()">
                            <!--                          [promiseBtn]="createEventAttendee.create_event_attendee_for_free_event_ticket_and_user_account_subscription$"-->
                            <!--                          (click)="createEventAttendee.createEventAttendeeForFreeEventTicketAndUserAccount(createEventAttendee.createRequestData())">-->
                            Yes
                        </ion-button>
                        <ion-button fill="outline" color="grey-1" shape="round" class="pv-16px ph-40px ml-32px mt-24px">
                            No
                        </ion-button>
                        </span>
                        <br>
                        <label class="d-inline-block font-color-red mt-4">
                            <ion-icon size="large" name="thumbs-up-outline"></ion-icon>
                            <span class="vertical-align-super"> {{event_ticket_info.event_ticket.available_quantity}}
                                RSVP's remaining</span></label>
                    </ion-col>

                    <ion-col size="12" class="br-2 mb-30"
                             *ngIf="event_ticket_info.event_ticket.ticket_type==='PAID'">
                        <ion-row>
                            <ion-col size="12" class="mv-6 ion-justify-content-center">
                                <ion-label class="font-weight-700 font-color-1">Get ticket</ion-label>
                            </ion-col>
                            <ion-col size="12" class="br-4 ph-5 pv-6 b-1px-dashed-grey-1"
                                     style="box-shadow: 0px 0px 16px 0px #F2E2FF;">
                                <ion-label class="font-weight-bold font-color-primary">Ticket name</ion-label>
                                <br>
                                <ion-label class="font-color-grey-2 d-inline-block font-size-14px mt-2">Ticket details
                                    will show here if there any.
                                </ion-label>
                                <br>
                                <ion-row>
                                    <ion-col size="12" class="border-bottom-1px-dashed-grey-1 mv-5"></ion-col>
                                    <ion-col size="7" class="ion-text-left">
                                        <ion-label class="d-inline-block font-size-18px font-weight-700 font-color-1">
                                            $ {{event_ticket_info.event_ticket_sale_item.item_actual_price}}
                                        </ion-label>
                                        <br>
                                        <ion-label class="font-size-14px font-color-grey-2 d-inline-block mt-1">
                                            Offer ends on {{event_ticket_info.event_ticket.sale_end_time}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col size="5" class="ion-text-right d-flex ion-align-items-center">
                                        <ion-label class="w-100p">

                                            <ion-label class="d-inline-block  b-1px-grey-3 br-2 pa-2">
                                                <ion-label
                                                        (click)="selected_event_ticket = event_ticket_info; decreaseTickets()"
                                                        class="d-inline-block mr-4 pa-1 br-2 bg-grey">
                                                    <ion-icon name="remove-outline"></ion-icon>
                                                </ion-label>
                                                <ion-label
                                                        class="mr-4 d-inline-block font-weight-700 font-size-18px font-color-1">{{no_of_tickets}}</ion-label>
                                                <ion-label
                                                        (click)="selected_event_ticket = event_ticket_info; increaseTickets()"
                                                        class="d-inline-block pa-1 br-2 bg-primary">
                                                    <ion-icon name="add-outline"></ion-icon>
                                                </ion-label>

                                            </ion-label>
                                        </ion-label>

                                    </ion-col>
                                    <ion-col size="12" class="mt-4 d-flex ion-align-items-center">
                                        <ion-icon size="large" class="font-color-red mr-3"
                                                  name="ticket-outline"></ion-icon>
                                        <ion-label class="font-color-red">
                                            Only {{event_ticket_info.event_ticket.available_quantity}} tickets left
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <!--                            <events-create-order-item-payment-for-event-no-template-->
                            <!--                                    [noOfTickets]="no_of_tickets"-->
                            <!--                                    [amount]="amount"-->
                            <!--                                    (orderCompleteInfoCreated)="paymentFormModalComponent.openModal($event)"-->
                            <!--                                    #orderItemPaymentForEventNoTemplateComponent-->
                            <!--                            ></events-create-order-item-payment-for-event-no-template>-->
                        </ion-row>
                    </ion-col>

                </ion-row>
            </ion-col>
            <ion-row class="position-fixed-bottom-0" *ngIf="no_of_tickets>0">
                <ion-col size="12"
                         class="default-horizontal-padding bg-white pv-6"
                >
                    <ion-row class="d-flex ion-align-items-center">
                        <ion-col size="5" class="d-flex ion-justify-content-between">
                            <ion-label class="">
                                <ion-label class="d-inline-block font-color-1 font-weight-bold">
                                    Total payable
                                </ion-label>
                                <br>
                                <ion-label
                                        class="d-inline-block mt-2 font-size-18px font-weight-700 font-color-primary">
                                    ${{amount}}.00
                                </ion-label>
                            </ion-label>
                        </ion-col>
                        <ion-col size="7" class="ion-text-right">
                            <ion-button (click)="slideNext()" size="large" expand="block">
                                <ion-label class="d-inline-block mr-2 font-size-14px font-weight-700">
                                    Proceed to pay
                                    <ion-icon name="arrow-forward" class="font-color-white"></ion-icon>
                                </ion-label>
                            </ion-button>
                        </ion-col>
                    </ion-row>

                </ion-col>
            </ion-row>

        </ion-row>


    </swiper-slide>

    <swiper-slide>
        <basic-verify-user-with-verification-code-before-login-modal
                (modalClosed)="$event.status==='SUCCESS'? verified = true:false"
                #verificationCodeBeforeLoginModalComponent></basic-verify-user-with-verification-code-before-login-modal>

        <events-create-order-order-item-order-payment-for-event-with-intent-no-template
                [quantity]="no_of_tickets"
                [amount]="amount"
                (orderCompleteInfoReceived)="order_complete_info=$event;presentPaymentSheetComponent.presentPaymentSheet(getClientSecretFromOrderCompleteInfo($event))"
                #orderItemPaymentForEventNoTemplateComponent
        ></events-create-order-order-item-order-payment-for-event-with-intent-no-template>
        <events-create-paid-user-event-ticket-from-order-payment-with-intent-no-template
                (userEventTicketReceived)="userEventTicketCreated.emit($event)"
                #createPaidUserEventTicket></events-create-paid-user-event-ticket-from-order-payment-with-intent-no-template>
        <events-present-payment-sheet
                (paymentSheetEventsEnumReceived)="createPaidUserEventTicket.createPaidUserEventTicketFromOrderPaymentWithIntent(createPaidUserEventTicket.createRequestData(order_complete_info.order_payment.order_payment_id))"
                #presentPaymentSheetComponent></events-present-payment-sheet>

        <events-create-event-attendee-for-free-event-ticket-and-user-account-no-template
                [eventTicket]="selected_event_ticket?.event_ticket"
                (eventAttendeesReceived)="eventAttendeeReceived.emit($event)"
                #createEventAttendee></events-create-event-attendee-for-free-event-ticket-and-user-account-no-template>

        <ion-row class="row pt-8">
            <ion-col size="12">
                <ion-row class="default-horizontal-padding pv-2"
                         style="background: linear-gradient(90deg, #F2F2F2 0%, #FFF 100%);">
                    <ion-col size="2" class="default-horizontal-padding  ">
                        <ion-icon size="large" color="primary" name="information-circle-outline"></ion-icon>
                    </ion-col>
                    <ion-col size="10">
                        <ion-label class="font-color-primary font-size-16px font-weight-medium-bold py-8px">Below
                            information
                            will be shared with the creator.
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col size="12" class="border-bottom-grey-1 pb-6 mt-6">
                <basic-user-info-before-login-form
                        (messageDeliveryReceived)="verificationCodeBeforeLoginModalComponent.openModal($event);"
                        #userInfoBeforeLoginFormComponent></basic-user-info-before-login-form>

            </ion-col>
            <ion-col size="12" class="d-flex default-horizontal-padding ion-justify-content-between mv-8">

                <ion-button
                        (click)="slidePrev()"
                        size="large"
                        fill="outline"
                        color="primary"
                        class="font-weight-700 font-size-14px">
                    Cancel
                </ion-button>
                <ion-button class="col-6 btn-color-primary rounded-2 py-16px font-weight-700 font-poppins font-size-18"
                            *ngIf="!verified"
                            [promiseBtn]="userInfoBeforeLoginFormComponent.start_login_subscription$"
                            (click)="userInfoBeforeLoginFormComponent.startLogin(userInfoBeforeLoginFormComponent.createRequestData())"
                >
                    Send verification code
                </ion-button>

                <ion-button class="col-6 btn-color-primary rounded-2 py-16px font-weight-700 font-poppins font-size-18"
                            *ngIf="verified && selected_event_ticket.event_ticket.ticket_type === 'PAID'"
                            [promiseBtn]="orderItemPaymentForEventNoTemplateComponent.create_order_order_item_order_payment_for_event_with_intent_subscription$"
                            (click)="orderItemPaymentForEventNoTemplateComponent.createOrderOrderItemOrderPaymentForEventWithIntent(orderItemPaymentForEventNoTemplateComponent.createRequestData(selected_event_ticket.event_ticket_sale_item.sale_item_id))"
                >
                    <!--                  [promiseBtn]="orderItemPaymentForEventNoTemplateComponent.order_item_order_payment_subscription$"-->
                    Proceed to pay
                </ion-button>

                <ion-button class="col-6 btn-color-primary rounded-2 py-16px font-weight-700 font-poppins font-size-18"
                            *ngIf="verified && selected_event_ticket.event_ticket.ticket_type === 'FREE'"
                            [promiseBtn]="createEventAttendee.create_event_attendee_for_free_event_ticket_and_user_account_subscription$"
                            (click)="createEventAttendee.createEventAttendeeForFreeEventTicketAndUserAccount(createEventAttendee.createRequestData(selected_event_ticket.event_ticket.event_ticket_id))"
                >
                    <!--                  [promiseBtn]="createEventAttendee.create_event_attendee_for_free_event_ticket_and_user_account_subscription$"-->
                    Confirm RSVP
                </ion-button>
            </ion-col>
        </ion-row>
    </swiper-slide>
</swiper-container>
