<!--<ion-content [scrollEvents]="true">-->

<!--    <ion-row class="row ion-justify-content-center mt-10">-->
<!--        <ion-col size="12" class="ion-text-center">-->
<!--            <ion-row class="row bg-white rounded-2 box-shadow-purple">-->
<!--                <ion-col size="12">-->

<!--&lt;!&ndash;                    <ion-row&ndash;&gt;-->
<!--&lt;!&ndash;                            class="d-flex ion-justify-content-between container mt-10 pb-8 border-bottom border-grey-1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <ion-row class="d-flex ion-align-items-center gap-56">&ndash;&gt;-->
<!--&lt;!&ndash;                            <ion-button class="btn-event"&ndash;&gt;-->
<!--&lt;!&ndash;                                        (click)="selected_option=options[0].value"&ndash;&gt;-->
<!--&lt;!&ndash;                                        [class.btn-event-active]="selected_option === options[0].value"&ndash;&gt;-->
<!--&lt;!&ndash;                                        routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/ticketdetails/tickettype">&ndash;&gt;-->
<!--&lt;!&ndash;                                {{options[0].value}}&ndash;&gt;-->
<!--&lt;!&ndash;                            </ion-button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ion-button class="btn-event"&ndash;&gt;-->
<!--&lt;!&ndash;                                        (click)="selected_option=options[1].value"&ndash;&gt;-->
<!--&lt;!&ndash;                                        [class.btn-event-active]="selected_option === options[1].value"&ndash;&gt;-->
<!--&lt;!&ndash;                                        routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/ticketdetails/promocodes">&ndash;&gt;-->
<!--&lt;!&ndash;                                {{options[1].value}}&ndash;&gt;-->
<!--&lt;!&ndash;                            </ion-button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ion-button class="btn-event"&ndash;&gt;-->
<!--&lt;!&ndash;                                        (click)="selected_option=options[2].value"&ndash;&gt;-->
<!--&lt;!&ndash;                                        [class.btn-event-active]="selected_option === options[2].value"&ndash;&gt;-->
<!--&lt;!&ndash;                                        routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/ticketdetails/ticketsales">&ndash;&gt;-->
<!--&lt;!&ndash;                                {{options[2].value}}&ndash;&gt;-->
<!--&lt;!&ndash;                            </ion-button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </ion-row>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash;    <ngb-pagination&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash;      [(page)]="page"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash;      [pageSize]="pageSize"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash;      [collectionSize]="collectionSize"></ngb-pagination>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    </ion-row>&ndash;&gt;-->
<!--                    <ion-row class="container mt-8">-->
<!--                        <ion-router-outlet></ion-router-outlet>-->
<!--                    </ion-row>-->
<!--                </ion-col>-->

<!--            </ion-row>-->
<!--        </ion-col>-->
<!--    </ion-row>-->
<!--</ion-content>-->

<!--&lt;!&ndash;<ion-router-outlet></ion-router-outlet>&ndash;&gt;-->

<ion-router-outlet></ion-router-outlet>
