<!--<ion-content class=" d-flex ion-align-items-center ion-justify-content-center">-->
<!--    <ion-row class="h-100p   ion-justify-content-start ion-align-items-center ph-4 pv-18">-->

<!--        <ion-col size="12">-->
<!--            <ion-row>-->

<!--                <ion-col size="12">-->
<!--                    <h1 class="font-weight-700 font-normal font-size-24px ma-0 mb-2">Welcome back to-->
<!--                        Eventreply</h1>-->
<!--                </ion-col>-->
<!--                <ion-col size="12" class="mb-6">-->
<!--                    <p class="color-grey-2 font-weight-400 font-normal">Don’t have an account? <span-->
<!--                            class="font-color-bmi-primary font-weight-500" routerLink="/basic/signup">Create a free account</span></p>-->
<!--                </ion-col>-->

<!--                <ion-col size="12">-->
<!--                    <users-sign-in-form (userSignInCreated)="setUserAuthTokenAndNavigate($event)"-->
<!--                                        #signInFormComponent></users-sign-in-form>-->
<!--                </ion-col>-->
<!--                <ion-col size="12" class="mb-5">-->
<!--                    <p class="font-color-primary font-normal" routerLink="/basic/forgetpassword">Forgot password?</p>-->
<!--                </ion-col>-->

<!--                <ion-col size="12" class="mb-5">-->
<!--                    <ion-button size="large" class="primary" expand="block"-->
<!--                                (click)="signInFormComponent.signIn(signInFormComponent.createRequestData())">-->
<!--                        <span class="font-small font-weight-700">Login</span>-->
<!--                    </ion-button>-->
<!--                </ion-col>-->

<!--                <ion-col size="12" class="mb-5">-->
<!--                    <ion-button size="large" expand="block" class="default-primary-drop-shadow" color="white"-->
<!--                                routerLink="/basic/signup">-->
<!--                        <img class="h-24px w-24px" src="../../../../assets/images/logo/google-logo.png">-->
<!--                        <ion-label class="font-weight-700 ml-4 font-color-black font-small">-->
<!--                            Sign up with Google-->
<!--                        </ion-label>-->
<!--                    </ion-button>-->
<!--                </ion-col>-->
<!--                <ion-col size="12">-->
<!--                    <ion-button size="large" expand="block" class="default-primary-drop-shadow" color="white"-->
<!--                                routerLink="/basic/signup">-->
<!--                        <img class="h-24px w-24px" src="../../../../assets/images/logo/facebook-logo.png">-->
<!--                        <ion-label class="font-weight-700 ml-4 font-color-black font-small">-->
<!--                            Sign up with Facebook-->
<!--                        </ion-label>-->
<!--                    </ion-button>-->
<!--                </ion-col>-->

<!--            </ion-row>-->
<!--        </ion-col>-->

<!--    </ion-row>-->
<!--</ion-content>-->
