<ion-content scrollEvents="true">
    <ion-row class="mt-30 ion-justify-content-center">
        <ion-col size="12" class="d-flex scrollX">
            <ion-button fill="clear" class="btn-event-tab"
                        [routerLinkActive]=""
                        [routerLink]="'/signedin/events/eventdashboard/'+eventInfo.event.event_id+'/creatordashboard'">
                Dashboard
            </ion-button>
            <ion-button fill="clear" class="btn-event-tab"
                        [routerLink]="'/signedin/events/eventdashboard/'+eventInfo.event.event_id+'/eventdetails'">
                Event Details
            </ion-button>
            <ion-button fill="clear" class="btn-event-tab"
                        [routerLink]="'/signedin/events/eventdashboard/'+eventInfo.event.event_id+'/ticketdetails/tickettype'">
                Ticket Details
            </ion-button>
            <ion-button fill="clear" class="btn-event-tab"
                        [routerLink]="'/signedin/events/eventdashboard/'+eventInfo.event.event_id+'/guestdetails/allguests'">
                Guest Details
            </ion-button>
            <ion-button fill="clear" class="btn-event-tab-active"
                        [routerLink]="'/signedin/events/eventdashboard/'+eventInfo.event.event_id+'/manageguest/allguests'">
                Manage guest list
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-row class="ma-3 pa-3 bg-white box-shadow-purple br-10px">

        <ion-col size="12" class="d-flex scrollX">
            <ion-button fill="clear" class="font-color-grey-2 font-weight-500 fs-10 "
                        routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/manageguest/allguests">
                {{options[0].value}}
            </ion-button>
            <ion-button fill="clear" class="w-120px btn-event"
                        routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/manageguest/checkedin">
                {{options[1].value}}
            </ion-button>
            <ion-button fill="clear" class="font-color-grey-2 font-weight-500 fs-10"
                        routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/manageguest/waitlist">
                {{options[2].value}}
            </ion-button>
        </ion-col>

        <ion-col size="12" class="mt-6">
            <ion-row class="ion-justify-content-center">
                <ion-button fill="outline" class="bg-purple">
                    <ion-icon name="share-social-outline" color="primary" class="mr-2"></ion-icon>
                    <ion-label>
                        Share check in link
                    </ion-label>
                </ion-button>
            </ion-row>
        </ion-col>

        <ion-col size="12">
            <ion-row class="border-bottom-grey-1 mv-6"></ion-row>
        </ion-col>

        <ion-col size="12">
            <ion-row class="row-align-center ion-justify-content-between">
                <ion-col size="2">
                    <ion-label class="font-weight-500">Sort by:</ion-label>
                </ion-col>
                <ion-col size="9.5" class="pa-4 border-grey-1 border-radius-5px d-flex ion-justify-content-between">
                    <ion-label class="font-color-primary">Most recent</ion-label>
                    <ion-icon name="chevron-down"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-col>

        <ion-col size="12" class="mt-6 mb-2">
            <ion-row class="ion-justify-content-center">
                <ion-col size="8.5">
                    <ion-row class="ion-justify-content-between border-grey pa-1 border-radius-5px">
                        <ion-button fill="clear" class="border-right-grey-1px">
                            <ion-icon name="download-outline" color="primary" class="mr-2"></ion-icon>
                            <ion-label>
                                Download
                            </ion-label>
                        </ion-button>

                        <ion-button fill="clear" class="">
                            <ion-icon name="print-outline" color="primary" class="mr-2"></ion-icon>
                            <ion-label>
                                Print
                            </ion-label>
                        </ion-button>

                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>

        <ion-col size="12" class="bg-grey-3 mt-4 border-radius-10">
            <ion-row class="mv-4 pa-3 ">
                <ion-col size="3">
                    <!--                    <images-get-image-by-entity-and-type-unique-image-ngx-avatar-->
                    <!--                            [size]="60"-->
                    <!--                            [imageClasses]="['br-30']"-->
                    <!--                            [alt]="event_attendee.user_account.display_name"-->
                    <!--                            [entityId]="event_attendee.user_account.user_account_id"-->
                    <!--                            [entityType]="'USER_PROFILE_PIC'"-->
                    <!--                            [round]="false"-->
                    <!--                    ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>-->
                    <img src="assets/images/guest-profile.png" height="60" width="60" class="br-30">
                </ion-col>

                <ion-col size="9">
                    <ion-row class="mb-1">
                        <ion-label class="fs-11 font-weight-medium-bold">
                            Scarlet
                        </ion-label>
                    </ion-row>
                    <ion-row class="ion-justify-content-start ion-align-items-center">
                        <img src="assets/images/indian%20flag.png" height="20" class="mr-12px">
                        <img src="assets/images/img.png" height="5" width="5" class="mr-12px">
                        <ion-label class="fs-8 font-weight-medium-bold font-color-grey-2">
                            Invited by beau williams
                        </ion-label>
                    </ion-row>
                </ion-col>
                <ion-col size="12">

                    <ion-row class="ion-justify-content-center mt-3">
                        <ion-button fill="clear" class="border-grey-2 br-5px font-color-grey-2">
                            <ion-icon name="close-outline" class="mr-4 font-weight-700"></ion-icon>
                                Remove
                        </ion-button>
                    </ion-row>
                </ion-col>
            </ion-row>


        </ion-col>
        <ion-col size="12" class="bg-grey-3 mt-4 border-radius-10">
            <ion-row class="mv-4 pa-3 ">
                <ion-col size="3">
                    <!--                    <images-get-image-by-entity-and-type-unique-image-ngx-avatar-->
                    <!--                            [size]="60"-->
                    <!--                            [imageClasses]="['br-30']"-->
                    <!--                            [alt]="event_attendee.user_account.display_name"-->
                    <!--                            [entityId]="event_attendee.user_account.user_account_id"-->
                    <!--                            [entityType]="'USER_PROFILE_PIC'"-->
                    <!--                            [round]="false"-->
                    <!--                    ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>-->
                    <img src="assets/images/guest-profile.png" height="60" width="60" class="br-30">
                </ion-col>

                <ion-col size="9">
                    <ion-row class="mb-1">
                        <ion-label class="fs-11 font-weight-medium-bold">
                            Scarlet
                        </ion-label>
                    </ion-row>
                    <ion-row class="ion-justify-content-start ion-align-items-center">
                        <img src="assets/images/indian%20flag.png" height="20" class="mr-12px">
                        <img src="assets/images/img.png" height="5" width="5" class="mr-12px">
                        <ion-label class="fs-8 font-weight-medium-bold font-color-grey-2">
                            Invited by beau williams
                        </ion-label>
                    </ion-row>
                </ion-col>
                <ion-col size="12">

                    <ion-row class="ion-justify-content-center mt-3">
                        <ion-button fill="clear" class="border-grey-2 br-5px font-color-grey-2">
                            <ion-icon name="close-outline" class="mr-4 font-weight-700"></ion-icon>
                            Remove
                        </ion-button>
                    </ion-row>
                </ion-col>
            </ion-row>


        </ion-col>
        <ion-col size="12" class="bg-grey-3 mt-4 border-radius-10">
            <ion-row class="mv-4 pa-3 ">
                <ion-col size="3">
                    <!--                    <images-get-image-by-entity-and-type-unique-image-ngx-avatar-->
                    <!--                            [size]="60"-->
                    <!--                            [imageClasses]="['br-30']"-->
                    <!--                            [alt]="event_attendee.user_account.display_name"-->
                    <!--                            [entityId]="event_attendee.user_account.user_account_id"-->
                    <!--                            [entityType]="'USER_PROFILE_PIC'"-->
                    <!--                            [round]="false"-->
                    <!--                    ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>-->
                    <img src="assets/images/guest-profile.png" height="60" width="60" class="br-30">
                </ion-col>

                <ion-col size="9">
                    <ion-row class="mb-1">
                        <ion-label class="fs-11 font-weight-medium-bold">
                            Scarlet
                        </ion-label>
                    </ion-row>
                    <ion-row class="ion-justify-content-start ion-align-items-center">
                        <img src="assets/images/indian%20flag.png" height="20" class="mr-12px">
                        <img src="assets/images/img.png" height="5" width="5" class="mr-12px">
                        <ion-label class="fs-8 font-weight-medium-bold font-color-grey-2">
                            Invited by beau williams
                        </ion-label>
                    </ion-row>
                </ion-col>
                <ion-col size="12">

                    <ion-row class="ion-justify-content-center mt-3">
                        <ion-button fill="clear" class="border-grey-2 br-5px font-color-grey-2">
                            <ion-icon name="close-outline" class="mr-4 font-weight-700"></ion-icon>
                            Remove
                        </ion-button>
                    </ion-row>
                </ion-col>
            </ion-row>


        </ion-col>



    </ion-row>
</ion-content>