<!--<div class="row mx-0 justify-content-center text-align-start">-->
<!--  <div class="col-12 bg-white pv-32px ph-24px border border-grey-1 rounded-3">-->
<!--    <label class="font-poppins font-weight-500 font-size-24 text-font-color-1">-->
<!--      Events attended<span class="text-grey-2">(12)</span>-->
<!--    </label>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="true" [class.p-0]="true" [class.border-top-0]="true">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--        <br>-->
<!--        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          Attended on: November 25th-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
