/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Lato", sans-serif;
<<<<<<< HEAD
  /** primary **/
  --ion-color-primary: var(--ion-color-primary);
=======
  /** primary  408273**/
  --ion-color-primary: #408273;
>>>>>>> bac26cbb14f638c531a9f16bda03113f09048108
  --ion-color-primary-rgb: 64, 130, 115;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #387265;
  --ion-color-primary-tint: #538f81;
  --ion-color-primary-white: #ffffff;
  --ion-color-primary-white-rgb: 255, 255, 255;
  --ion-color-primary-white-contrast: var(--ion-color-primary);
  --ion-color-primary-white-contrast-rgb: 64, 130, 115;
  --ion-color-primary-white-shade: #e0e0e0;
  --ion-color-primary-white-tint: #ffffff;
  --ion-color-primary-light-background: #40827326;
  --ion-color-primary-light-background-rgb: 130, 115, 38;
  --ion-color-primary-light-background-contrast: #ffffff;
  --ion-color-primary-light-background-contrast-rgb: 255, 255, 255;
  --ion-color-primary-light-background-shade: #726521;
  --ion-color-primary-light-background-tint: #8f813c;
  /** secondary **/
  --ion-color-secondary: #E4D7C8;
  --ion-color-secondary-rgb: 228, 215, 200;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #c9bdb0;
  --ion-color-secondary-tint: #e7dbce;
  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;
  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  /** warning **/
  --ion-color-warning: #FF8718;
  --ion-color-warning-rgb: 255, 135, 24;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e07715;
  --ion-color-warning-tint: #ff932f;
  /** danger **/
  --ion-color-danger: #FF4D4D;
  --ion-color-danger-rgb: 255, 77, 77;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e04444;
  --ion-color-danger-tint: #ff5f5f;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;
  --ion-text-color: #454545;
  --ion-text-color-rgb: 69, 69, 69;
  --ion-color-heading-color: #393939;
  --ion-color-heading-color-rgb: 57, 57, 57;
  --ion-color-heading-color-contrast: #ffffff;
  --ion-color-heading-color-contrast-rgb: 255, 255, 255;
  --ion-color-heading-color-shade: #323232;
  --ion-color-heading-color-tint: #4d4d4d;
  --ion-color-small-font-color: #676767;
  --ion-color-small-font-color-rgb: 103, 103, 103;
  --ion-color-small-font-color-contrast: #ffffff;
  --ion-color-small-font-color-contrast-rgb: 255, 255, 255;
  --ion-color-small-font-color-shade: #5b5b5b;
  --ion-color-small-font-color-tint: #767676;
  --ion-color-font-normal-color: #454545;
  --ion-color-font-normal-color-rgb: 69, 69, 69;
  --ion-color-font-normal-color-contrast: #ffffff;
  --ion-color-font-normal-color-contrast-rgb: 255, 255, 255;
  --ion-color-font-normal-color-shade: #3d3d3d;
  --ion-color-font-normal-color-tint: #585858;
  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0d0d0d;
  --ion-color-green: #3AD866;
  --ion-color-red: #FF4D4D;
  --ion-color-grey-3: #F2F2F2;
  --ion-color-grey: #ECECEC;
  --ion-color-white-grey: #FFFFFFB2;
  --ion-color-orange: #FF8718;
  --ion-color-referral-green: #489482;
  --ion-color-water-primary: #0093B7;
  --ion-color-water-primary-rgb: 0, 147, 183;
  --ion-color-water-primary-contrast: #ffffff;
  --ion-color-water-primary-contrast-rgb: 255, 255, 255;
  --ion-color-water-primary-shade: #0081a1;
  --ion-color-water-primary-tint: #1a9ebe;
  --ion-color-water-primary-background: #ECF7FA;
  --ion-color-water-primary-background-rgb: 236, 247, 250;
  --ion-color-water-primary-background-contrast: #000000;
  --ion-color-water-primary-background-contrast-rgb: 0, 0, 0;
  --ion-color-water-primary-background-shade: #d0d9dc;
  --ion-color-water-primary-background-tint: #eef8fb;
  --ion-color-water-add-circle: #FF8718;
  --ion-color-water-add-circle-rgb: 255, 135, 24;
  --ion-color-water-add-circle-contrast: #000000;
  --ion-color-water-add-circle-contrast-rgb: 0, 0, 0;
  --ion-color-water-add-circle-shade: #e07715;
  --ion-color-water-add-circle-tint: #ff932f;
  --ion-color-water-white: #ffffff;
  --ion-color-water-white-rgb: 255, 255, 255;
  --ion-color-water-white-contrast: #0093B7;
  --ion-color-water-white-contrast-rgb: 0, 147, 183;
  --ion-color-water-white-shade: #e0e0e0;
  --ion-color-water-white-tint: #ffffff;
  --ion-color-steps-primary: #13A893;
  --ion-color-steps-primary-rgb: 19, 168, 147;
  --ion-color-steps-primary-contrast: #ffffff;
  --ion-color-steps-primary-contrast-rgb: 255, 255, 255;
  --ion-color-steps-primary-shade: #119481;
  --ion-color-steps-primary-tint: #2bb19e;
  --ion-color-steps-white: #ffffff;
  --ion-color-steps-white-rgb: 255, 255, 255;
  --ion-color-steps-white-contrast: #13A893;
  --ion-color-steps-white-contrast-rgb: 19, 168, 147;
  --ion-color-steps-white-shade: #e0e0e0;
  --ion-color-steps-white-tint: #ffffff;
  --ion-color-steps-primary-background: #13A8931A;
  --ion-color-steps-primary-background-rgb: 168, 147, 26;
  --ion-color-steps-primary-background-contrast: #000000;
  --ion-color-steps-primary-background-contrast-rgb: 0, 0, 0;
  --ion-color-steps-primary-background-shade: #948117;
  --ion-color-steps-primary-background-tint: #b19e31;
  --ion-color-fitness-primary: #4762F1;
  --ion-color-fitness-primary-rgb: 71, 98, 241;
  --ion-color-fitness-primary-contrast: #ffffff;
  --ion-color-fitness-primary-contrast-rgb: 255, 255, 255;
  --ion-color-fitness-primary-shade: #3e56d4;
  --ion-color-fitness-primary-tint: #5972f2;
  --ion-color-fitness-primary-background: #4762F133;
  --ion-color-fitness-primary-background-rgb: 98, 241, 51;
  --ion-color-fitness-primary-background-contrast: #000000;
  --ion-color-fitness-primary-background-contrast-rgb: 0, 0, 0;
  --ion-color-fitness-primary-background-shade: #56d42d;
  --ion-color-fitness-primary-background-tint: #72f247;
  --ion-color-fitness-white: #ffffff;
  --ion-color-fitness-white-rgb: 255, 255, 255;
  --ion-color-fitness-white-contrast: #4762F1;
  --ion-color-fitness-white-contrast-rgb: 71, 98, 241;
  --ion-color-fitness-white-shade: #e0e0e0;
  --ion-color-fitness-white-tint: #ffffff;
  --ion-color-levels-locked: #0000004D;
  --ion-color-levels-locked-rgb: 0, 0, 77;
  --ion-color-levels-locked-contrast: #ffffff;
  --ion-color-levels-locked-contrast-rgb: 255, 255, 255;
  --ion-color-levels-locked-shade: #000044;
  --ion-color-levels-locked-tint: #1a1a5f;
  --ion-color-leader-board-background: #3AD86633;
  --ion-color-leader-board-background-rgb: 216, 102, 51;
  --ion-color-leader-board-background-contrast: #000000;
  --ion-color-leader-board-background-contrast-rgb: 0, 0, 0;
  --ion-color-leader-board-background-shade: #be5a2d;
  --ion-color-leader-board-background-tint: #dc7547;
  --ion-color-profile-cancel-grey: #7F7F7F;
  --ion-color-profile-cancel-grey-rgb: 127, 127, 127;
  --ion-color-profile-cancel-grey-contrast: #ffffff;
  --ion-color-profile-cancel-grey-contrast-rgb: 255, 255, 255;
  --ion-color-profile-cancel-grey-shade: #707070;
  --ion-color-profile-cancel-grey-tint: #8c8c8c;
  --ion-color-bmi-primary: #7D6EC9;
  --ion-color-bmi-primary-rgb: 125, 110, 201;
  --ion-color-bmi-primary-contrast: #ffffff;
  --ion-color-bmi-primary-contrast-rgb: 255, 255, 255;
  --ion-color-bmi-primary-shade: #6e61b1;
  --ion-color-bmi-primary-tint: #8a7dce;
  --ion-color-bmi-primary-light: #7D6EC933;
  --ion-color-bmi-primary-light-rgb: 110, 201, 51;
  --ion-color-bmi-primary-light-contrast: #000000;
  --ion-color-bmi-primary-light-contrast-rgb: 0, 0, 0;
  --ion-color-bmi-primary-light-shade: #61b12d;
  --ion-color-bmi-primary-light-tint: #7dce47;
  --ion-color-bmi-white: #ffffff;
  --ion-color-bmi-white-rgb: 255, 255, 255;
  --ion-color-bmi-white-contrast: #7D6EC9;
  --ion-color-bmi-white-contrast-rgb: 125, 110, 201;
  --ion-color-bmi-white-shade: #e0e0e0;
  --ion-color-bmi-white-tint: #ffffff;
  --ion-color-hobby-primary: #035E7B;
  --ion-color-hobby-primary-rgb: 3, 94, 123;
  --ion-color-hobby-primary-contrast: #ffffff;
  --ion-color-hobby-primary-contrast-rgb: 255, 255, 255;
  --ion-color-hobby-primary-shade: #03536c;
  --ion-color-hobby-primary-tint: #1c6e88;
  --ion-color-hobby-white: #ffffff;
  --ion-color-hobby-white-rgb: 255, 255, 255;
  --ion-color-hobby-white-contrast: #035E7B;
  --ion-color-hobby-white-contrast-rgb: 3, 94, 123;
  --ion-color-hobby-white-shade: #e0e0e0;
  --ion-color-hobby-white-tint: #ffffff;
  --ion-color-border-shadow: #00000040;
  --ion-color-outline-grey: #B0B0B0;
  --ion-color-outline-grey-rgb: 176, 176, 176;
  --ion-color-outline-grey-contrast: #000000;
  --ion-color-outline-grey-contrast-rgb: 0, 0, 0;
  --ion-color-outline-grey-shade: #9b9b9b;
  --ion-color-outline-grey-tint: #b8b8b8;
  --ion-color-community-post-background: #F7F7F7;
  --ion-color-community-post-background-rgb: 247, 247, 247;
  --ion-color-community-post-background-contrast: #000000;
  --ion-color-community-post-background-contrast-rgb: 0, 0, 0;
  --ion-color-community-post-background-shade: #d9d9d9;
  --ion-color-community-post-background-tint: #f8f8f8;
  --ion-color-blue: #0834D2;
  --ion-color-blue-rgb: 8, 52, 210;
  --ion-color-blue-contrast: #ffffff;
  --ion-color-blue-contrast-rgb: 255, 255, 255;
  --ion-color-blue-shade: #072eb9;
  --ion-color-blue-tint: #2148d7;
  --ion-color-yellow: #F5FA22;
  --ion-color-yellow-rgb: 245, 250, 34;
  --ion-color-yellow-contrast: #000000;
  --ion-color-yellow-contrast-rgb: 0, 0, 0;
  --ion-color-yellow-shade: #d8dc1e;
  --ion-color-yellow-tint: #f6fb38;
  --ion-color-fun-zone-quiz-primary: #F5FA22;
  --ion-color-fun-zone-quiz-primary-rgb: 245, 250, 34;
  --ion-color-fun-zone-quiz-primary-contrast: #000000;
  --ion-color-fun-zone-quiz-primary-contrast-rgb: 0, 0, 0;
  --ion-color-fun-zone-quiz-primary-shade: #d8dc1e;
  --ion-color-fun-zone-quiz-primary-tint: #f6fb38;
  --ion-color-medium-grey: #E7E7E7;
  --ion-color-medium-grey-rgb: 231,231,231;
  --ion-color-medium-grey-contrast: #000000;
  --ion-color-medium-grey-contrast-rgb: 0,0,0;
  --ion-color-medium-grey-shade: #cbcbcb;
  --ion-color-medium-grey-tint: #e9e9e9;
  --ion-color-middle-yellow-red: #F3AA79;
  --ion-color-middle-yellow-red-rgb: 243,170,121;
  --ion-color-middle-yellow-red-contrast: #000000;
  --ion-color-middle-yellow-red-contrast-rgb: 0,0,0;
  --ion-color-middle-yellow-red-shade: #d6966a;
  --ion-color-middle-yellow-red-tint: #f4b386;
  --ion-color-dark-grey: #B0B0B0;
  --ion-color-dark-grey-rgb: 176,176,176;
  --ion-color-dark-grey-contrast: #000000;
  --ion-color-dark-grey-contrast-rgb: 0,0,0;
  --ion-color-dark-grey-shade: #9b9b9b;
  --ion-color-dark-grey-tint: #b8b8b8;
  --ion-color-light-red: #EE00000D;
  --ion-color-light-red-rgb: 0,0,13;
  --ion-color-light-red-contrast: #ffffff;
  --ion-color-light-red-contrast-rgb: 255,255,255;
  --ion-color-light-red-shade: #00000b;
  --ion-color-light-red-tint: #1a1a25;
  --ion-color-light-grey: #F7F7F7;
  --ion-color-light-grey-rgb: 247,247,247;
  --ion-color-light-grey-contrast: #000000;
  --ion-color-light-grey-contrast-rgb: 0,0,0;
  --ion-color-light-grey-shade: #d9d9d9;
  --ion-color-light-grey-tint: #f8f8f8;
  --ion-color-skin-care-primary: #B69C79;
  --ion-color-skin-care-primary-rgb: 182,156,121;
  --ion-color-skin-care-primary-contrast: #000000;
  --ion-color-skin-care-primary-contrast-rgb: 0,0,0;
  --ion-color-skin-care-primary-shade: #a0896a;
  --ion-color-skin-care-primary-tint: #bda686;
  --ion-color-skin-care-primary-light: #F6ECE7;
  --ion-color-skin-care-primary-light-rgb: 246,236,231;
  --ion-color-skin-care-primary-light-contrast: #000000;
  --ion-color-skin-care-primary-light-contrast-rgb: 0,0,0;
  --ion-color-skin-care-primary-light-shade: #d8d0cb;
  --ion-color-skin-care-primary-light-tint: #f7eee9;
}

ion-button {
  text-transform: none;
}

/*# sourceMappingURL=variables.css.map */
