<ion-header>
    <ion-row class="ph-4 pv-6">
        <ion-col size="6" class="d-flex ion-justify-content-start" routerLink="/signedin/events/homepage">
            <img src="../../../../assets/images/logo/eventreply-logo.png">
        </ion-col>
        <ion-col size="6" class=" d-flex ion-justify-content-end">
            <ion-icon icon="search" class="w-26px h-26px"></ion-icon>
            <ion-icon icon="menu-outline" class="w-32px h-26px ml-6">

            </ion-icon>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content [scrollEvents]="true">
    <ion-row class="pv-8 ph-4 bg-col-purple pb-12">
        <ion-col size="12" class="mb-6">
            <ion-row>
                <ion-col size="12" class="d-flex ion-align-items-center">
                    <ion-icon class="font-color-primary w-36px h-36px mr-3" icon="arrow-back-outline"></ion-icon>
                    <span class="font-color-black font-size-24px font-weight-700">Tickets</span>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="12" class="pb-4 b-bottom-1px-grey mb-8">
            <ion-row>
                <ion-col size="4" class="pa-2 d-flex ion-align-items-center ion-justify-content-center bg-col-grey-3 br-5px mr-14">
                    <span class="font-color-1 font-size-18px font-weight-500">Ticket types</span>
                </ion-col>
                <ion-col size="4" class="pa-2 d-flex ion-align-items-center ion-justify-content-center">
                    <span class="color-grey-2 font-size-18px font-weight-500">Promo code</span>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="12" class="mb-10">
            <ion-row class="d-flex flex-dir-col ion-justify-content-center ion-align-items-center">
                <ion-col size="8" class="mb-4">
                    <ion-button size="large" expand="block">
                        <ion-icon class="mr-2 w-21px h-21px" icon="ticket-outline"></ion-icon>
                        <span class="font-color-white ion-text-center font-small font-weight-700">Add free tickets</span>
                    </ion-button>
                </ion-col>
                <ion-col size="12" class="mb-4 d-flex ion-justify-content-center ion-align-items-center">
                    <div class="w-150px h-1px bg-grey"></div>
                </ion-col>
                <ion-col size="8" class="">
                    <ion-button size="large" expand="block">
                        <ion-icon class="mr-2 w-21px h-21px" icon="logo-usd"></ion-icon>
                        <span class="font-color-white ion-text-center font-small font-weight-700">Add paid tickets</span>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>

        <ion-col size="12" class="mb-8">
            <ion-row>
                <ion-col size="11" class="pa-4 br-2 bg-white box-shadow-purple">
                    <ion-row>
                        <ion-col size="2" class="pr-5">
                            <span class="color-grey-2 ion-text-center font-small font-weight-500">01</span>
                        </ion-col>
                        <ion-col size="8" class="pr-4">
                            <ion-row>
                                <ion-col size="12" class="mb-3">
                                    <span class="font-color-1 font-size-18px font-weight-700">Paid</span>
                                </ion-col>
                                <ion-col size="12">
                                    <span class="font-normal color-grey-2 font-weight-500">Description here if any</span>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="2">
                            <ion-row>
                                <ion-col size="12" class="">
                                    <span class="font-color-1 font-normal font-weight-500">$ 5.00</span>
                                </ion-col>
                                <ion-col size="12">
                                    <span class="font-normal color-grey-2 font-weight-500">x 20</span>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="1" class="pl-5">
                    <ion-icon class="w-24px h-24px color-grey-2" icon="ellipsis-vertical-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="12" class="mb-20">
            <ion-row>
                <ion-col size="11" class="pa-4 br-2 bg-white box-shadow-purple">
                    <ion-row>
                        <ion-col size="2" class="pr-5">
                            <span class="color-grey-2 ion-text-center font-small font-weight-500">01</span>
                        </ion-col>
                        <ion-col size="8" class="pr-4">
                            <ion-row>
                                <ion-col size="12" class="mb-3">
                                    <span class="font-color-1 font-size-18px font-weight-700">Paid</span>
                                </ion-col>
                                <ion-col size="12">
                                    <span class="font-normal color-grey-2 font-weight-500">Description here if any</span>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="2">
                            <ion-row>
                                <ion-col size="12" class="">
                                    <span class="font-color-1 font-normal font-weight-500">$ 5.00</span>
                                </ion-col>
                                <ion-col size="12">
                                    <span class="font-normal color-grey-2 font-weight-500">x 20</span>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="1" class="pl-5">
                    <ion-icon class="w-24px h-24px color-grey-2" icon="ellipsis-vertical-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="pa-4 d-flex ion-justify-content-end ion-align-items-center">
        <ion-col size="6">
            <ion-button size="large" expand="block">
                <span class="font-color-white ion-text-center font-small font-weight-700">Create event</span>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>
