<!--<ion-content>-->
<!--    <ion-row class="default-horizontal-padding mt-4">-->
<!--        <ion-col size="6">-->
<!--            <ion-img src="./assets/images/logo/eventreply-logo.png"></ion-img>-->
<!--        </ion-col>-->
<!--        <ion-col size="6" class="ion-text-end">-->
<!--            <ion-icon size="large" (click)="closePopover({data:$event,status:''})" name="close-outline"></ion-icon>-->
<!--        </ion-col>-->
<!--        <ion-col size="12" class="mt-8">-->
<!--            <ion-label >Notifications</ion-label>-->
<!--        </ion-col>-->
<!--        <ion-col size="12" class="mt-8">-->
<!--            <ion-label >My profile</ion-label>-->
<!--        </ion-col><ion-col size="12" class="mt-8">-->
<!--        <ion-label >My events</ion-label>-->
<!--    </ion-col>-->
<!--        <ion-col size="12" class="mt-8">-->
<!--            <ion-label >Help</ion-label>-->
<!--        </ion-col>-->
<!--        <ion-col size="12" class="mt-8">-->
<!--            <ion-label (click)="closePopover({data:$event,status:''})" routerLink="basic/signin">Login</ion-label>-->
<!--        </ion-col>-->
<!--        <ion-col size="12" class="ion-text-center mt-8">-->
<!--            <ion-button (click)="closePopover({data:$event,status:''})" routerLink="basic/signup">-->
<!--                <ion-icon name="add-outline"></ion-icon>-->
<!--                <ion-label>Create Account</ion-label>-->
<!--            </ion-button>-->
<!--        </ion-col>-->
<!--    </ion-row>-->
<!--</ion-content>-->
