<!--<ng-container *ngIf="(value !== null ? value : loader.progress$|async) as progress">-->
<!--        <div id="block"></div>-->
<!--        <div class="ng-busy-default-wrapper overlay">-->
<!--            <div class="text-center w-100 pos-fixed m-auto t-39">-->
<!--                <div class="stairs">-->
<!--                    <div class="dash uno"></div>-->
<!--                    <div class="dash dos"></div>-->
<!--                    <div class="dash tres"></div>-->
<!--                    <div class="dash cuatro"></div>-->
<!--                </div>-->
<!--                <div class="fs-9 " style="  letter-spacing: 8px;-->
<!--  font-weight: 600;padding-top: 6rem">Loading</div>-->
<!--                <div class="center">-->
<!--                    <span class=" p-15 ls-20 fs-7 font-primary mt-3"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--</ng-container>-->
