<!--<events-get-event-invite-and-user-event-infos-by-user-account-scrolling-->
<!--        [numberOfItems]="5" [endTime]="current_time"-->
<!--        (eventAttendeeCreated)="navigateToEventDetailsPage($event.event_id)"-->
<!--&gt;-->

<!--</events-get-event-invite-and-user-event-infos-by-user-account-scrolling>-->


<!--<ion-content>-->
<!--    <ion-row>-->
<!--        <ion-row class="d-flex ion-justify-content-between container mx-auto">-->
<!--            <ion-row class="d-flex ion-align-items-center ion-justify-content-evenly">-->
<!--                <ion-col size="12">-->
<!--                    <ion-label class="btn-event"-->
<!--                               *ngFor="let option of options"-->
<!--                               (click)="selected_option=option.value"-->
<!--                               routerLinkActive="btn-event-active"-->
<!--                               [routerLink]="option.link">{{option.value}}-->
<!--                    </ion-label>-->
<!--                </ion-col>-->
<!--            </ion-row>-->
<!--            &lt;!&ndash;    <ngb-pagination&ndash;&gt;-->
<!--            &lt;!&ndash;      [(page)]="page"&ndash;&gt;-->
<!--            &lt;!&ndash;      [pageSize]="pageSize"&ndash;&gt;-->
<!--            &lt;!&ndash;      [collectionSize]="collectionSize"></ngb-pagination>&ndash;&gt;-->
<!--        </ion-row>-->
<!--        <ion-row class=" mt-8">-->
<!--            &lt;!&ndash;<events-get-event-invite-and-user-event-infos-by-user-account-scrolling&ndash;&gt;-->
<!--            &lt;!&ndash;        [numberOfItems]="5" [endTime]="current_time"&ndash;&gt;-->
<!--            &lt;!&ndash;        (eventAttendeeCreated)="navigateToEventDetailsPage($event.event_id)"&ndash;&gt;-->
<!--            &lt;!&ndash;&gt;&ndash;&gt;-->

<!--            &lt;!&ndash;</events-get-event-invite-and-user-event-infos-by-user-account-scrolling>&ndash;&gt;-->


<!--        </ion-row>-->

<!--    </ion-row>-->

<!--    past-->
<!--</ion-content>-->



<ion-content [scrollEvents]="true">
    <ion-row class="mt-30 default-horizontal-padding font-poppins ion-justify-content-center mt-4 bg-background-purple">
        <ion-col size="12">
            <ion-label class="font-weight-700 fs-15 text-black ml-2">
                My Events
            </ion-label>

            <!-- Event-Tab-Selector-->
            <ion-row class="mv-4 ion-justify-content-center">
                <ion-col size="12">
                    <ion-segment>
                        <ion-segment-button *ngFor="let option of options"
                                            [routerLinkActive]="'btn-event-tab-active '"
                                            [routerLink]="option.link">
                            {{option.value}}
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>

            <!--Event-Tab-Contents-->
            <ion-row class="bg-white ion-justify-content-center pt-2">
                <ion-col class="" size="11">
                    <ion-segment scrollable="true">
                        <ion-segment-button class="pa-2"
                                            *ngFor="let sub_option of sub_options"
                                            [routerLinkActive]="'bg-grey-3 border-radius-5px font-color-black'"
                                            [routerLink]="sub_option.link">{{sub_option.value}}
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>

                <ion-col size="12" class="mt-8 h-100vh" >
<!--                    <ion-label>-->
<!--                        invited past-->
<!--                    </ion-label>-->
                    <events-get-event-invite-and-user-event-infos-by-user-account-scrolling
                            [numberOfItems]="5" [endTime]="current_time"
                            (eventAttendeeCreated)="navigateToEventDetailsPage($event.event_id)"
                    >
                    </events-get-event-invite-and-user-event-infos-by-user-account-scrolling>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>


    <!--Title-->

</ion-content>

