$MAIN-COLORS: primary, primary-light-background, secondary, warning, white, step-300, green, black, red, grey, medium, light, white-grey, outline-grey, orange, referral-green, heading-color, small-font-color, text-color, font-normal-color, blue, yellow, medium-grey, middle-yellow-red, light-grey, purple,reward-ad-info,light-blue,light-blue-background,light-red,primary-color-background,circles-basic-plan,circles-super-plan,circles-premium-plan,background-purple;
$STEP-COLORS: step-800, step-150, step-50, step-100;
$WATER-COLORS: water-primary, water-primary-background, water-add-circle, water-white;
$STEPS-COLORS: steps-primary, steps-primary-background;
$FITNESS-COLORS: fitness-primary, fitness-primary-background;
$HOBBY-COLORS: hobby-primary;
$COMMUNITY-COLORS: community-post-background;
$BADGES-COLORS: levels-locked;
$CONTESTS-COLORS: leader-board-background;
$BMI-COLORS: bmi-primary, bmi-primary-light;
$SKIN-CARE-COLORS: skin-care-primary,skin-care-primary-light,purple-background,light-purple;
$BACK-BUTTON: #ECECEC;
$CIRCLES-COLORS: circles-primary;
$FUN-ZONE-COLORS: fun-zone-quiz-primary;

.color-grey-2 {
  color: #8D8D8D;
}




