<!--<ion-content [scrollEvents]="true">-->
<!--    <ion-row class="mt-30 default-horizontal-padding ion-justify-content-center bg-col-purple">-->
<!--        <ion-col size="12" class="mt-6 px-0">-->
<!--            <ion-label class="mb-0 mt-56px font-weight-700 font-heading">My Profile</ion-label>-->
<!--        </ion-col>-->
<!--        &lt;!&ndash;        <ion-col size="12" class=" px-0">&ndash;&gt;-->
<!--        &lt;!&ndash;            <ion-row class="d-inline-block" *ngFor="let option of options">&ndash;&gt;-->
<!--        &lt;!&ndash;                <ion-label class="tab-button" routerLinkActive="active"&ndash;&gt;-->
<!--        &lt;!&ndash;                           (click)="selected_option=option.value" [routerLink]="option.link">{{option.text}}</ion-label>&ndash;&gt;-->
<!--        &lt;!&ndash;            </ion-row>&ndash;&gt;-->
<!--        &lt;!&ndash;        </ion-col>&ndash;&gt;-->
<!--        -->

<!--        <ion-col size="12">-->
<!--            <ion-row *ngIf="segment==='Edit profile'">-->
<!--                <ion-col size="12">-->

<!--                <user-profiles-blasts-main-page></user-profiles-blasts-main-page>-->
<!--                </ion-col>-->

<!--            </ion-row>-->
<!--            <ion-row *ngIf="segment==='Payout information'">-->
<!--                <ion-col size="12">-->
<!--                    <user-profiles-payout-information></user-profiles-payout-information>-->


<!--                </ion-col>-->
<!--            </ion-row>-->
<!--            <ion-row *ngIf="segment==='Purchase History'">-->
<!--                <ion-col size="12">-->
<!--                    <user-profiles-purchase-history-page></user-profiles-purchase-history-page>-->
<!--                </ion-col>-->
<!--            </ion-row>-->
<!--            <ion-row *ngIf="segment==='Past guests'">-->
<!--                &lt;!&ndash;            <ion-col size="12">&ndash;&gt;-->
<!--                &lt;!&ndash;                <ion-label>hello</ion-label>&ndash;&gt;-->
<!--                &lt;!&ndash;            </ion-col>&ndash;&gt;-->
<!--                <user-profiles-profile-past-guests></user-profiles-profile-past-guests>-->
<!--            </ion-row>-->
<!--            <ion-row *ngIf="segment==='Mass messaging'">-->
<!--                &lt;!&ndash;            <user-profiles-blast-details-main-page></user-profiles-blast-details-main-page>&ndash;&gt;-->
<!--                <ion-col size="12">-->

<!--                <user-profiles-profile-edit></user-profiles-profile-edit>-->
<!--                </ion-col>-->

<!--            </ion-row>-->
<!--        </ion-col>-->

<!--    </ion-row>-->

<!--</ion-content>-->


<!--&lt;!&ndash;<ion-row class="ion-justify-content-center">&ndash;&gt;-->

<!--&lt;!&ndash;</ion-row>&ndash;&gt;-->


<ion-router-outlet></ion-router-outlet>
