<events-get-event-info
        (eventInfoReceived)="event_info = getEventInfoComponent.eventInfo"
        #getEventInfoComponent
></events-get-event-info>


<ion-content [scrollEvents]="true">
    <ion-row class="mt-18">
        <ion-col size="12" class="default-horizontal-padding">
            <ion-row>
                <ion-col size="12" class="br-1 b-2px-primary mt-8 mb-8">
                    <ion-row class="ph-6">
                        <ion-col size="12" class="mt-4 mb-4 d-flex ion-justify-content-end">
                            <ion-icon icon="close-outline" class="w-24px h-24px"></ion-icon>
                        </ion-col>
                        <ion-col size="12" class="mt-2">
                            <ion-row class="font-color-primary">
                                <ion-col size="1">
                                    <ion-icon icon="information-circle-outline" class="w-21px h-21px"></ion-icon>
                                </ion-col>
                                <ion-col>
                                    <p class="font-weight-500 font-small">Hey {{loggedAccount.display_name}}, you have
                                        received an exclusive
                                        birthday offer for event “<span class="font-weight-700">Christmas party celebration</span>”
                                        from <span class="font-weight-700">Eric Dawson</span></p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col class="d-flex ion-justify-content-center mt-6 mb-6">
                            <ion-button>See the event</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="12" class="d-flex ion-align-items-center mb-8">
                    <img class="h-56px"
                         src="/assets/anim/home-page-welcome.gif"
                         alt=""/>
                    <ion-label class="font-color-1 ma-0 font-size-32px font-weight-700">
                        Welcome, {{loggedAccount.display_name}}</ion-label>
                </ion-col>
                <ion-col size="12" class="mb-8">
                    <h2 class="font-size-18px ma-0 font-weight-700 font-color-1">Best events in Seattle, US</h2>
                </ion-col>
                <ion-col size="12" class="mb-6">
                    <ion-row>

                        <ion-col size="" class="h-25px d-flex ion-justify-content-center b-bottom-2px-primary"
                                 *ngIf="filter_type==='ALL'"
                                 (click)="setEventFilters(undefined,undefined);searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type)"
                                 [class.active]="!location_type&& !ticket_type">
                            <span class="font-color-primary font-size-14px font-weight-500">All</span>
                        </ion-col>
                        <ion-col size="" class="h-25px d-flex ion-justify-content-center" *ngIf="filter_type!='ALL'"
                                 (click)="setEventFilters(undefined,undefined);searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type); filter_type='ALL'"
                                 [class.active]="!location_type&& !ticket_type">
                            <span class="font-weight-500 font-size-14px">All</span>
                        </ion-col>

                        <ion-col size="" class="ml-3 h-25px d-flex ion-justify-content-center b-bottom-2px-primary"
                                 *ngIf="filter_type==='FREE'"
                                 [class.active]="ticket_type==='FREE'"
                                 (click)="setEventFilters(undefined,'FREE');searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type)">
                            <span class="font-color-primary font-weight-500 font-size-14px">Free</span>
                        </ion-col>
                        <ion-col size="" class="ml-3 h-25px d-flex ion-justify-content-center"
                                 *ngIf="filter_type!='FREE'"
                                 [class.active]="ticket_type==='FREE'"
                                 (click)="setEventFilters(undefined,'FREE');searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type); filter_type='FREE'">
                            <span class="font-weight-500 font-size-14px">Free</span>
                        </ion-col>

                        <ion-col size="" class="ml-3 h-25px d-flex ion-justify-content-center b-bottom-2px-primary"
                                 *ngIf="filter_type==='ONLINE'"
                                 [class.active]="location_type==='ONLINE'"
                                 (click)="setEventFilters('ONLINE',undefined);searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type)">
                            <span class="font-color-primary font-weight-500 font-size-14px">Online</span>
                        </ion-col>
                        <ion-col size="" class="ml-3 h-25px d-flex ion-justify-content-center"
                                 *ngIf="filter_type!='ONLINE'"
                                 [class.active]="location_type==='ONLINE'"
                                 (click)="setEventFilters('ONLINE',undefined);searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type); filter_type='ONLINE'">
                            <span class="font-weight-500 font-size-14px">Online</span>
                        </ion-col>

                        <ion-col size="" class="ml-3 h-25px d-flex ion-justify-content-center b-bottom-2px-primary"
                                 *ngIf="filter_type==='IN_PERSON'"
                                 [class.active]="location_type==='OFFLINE'"
                                 (click)="setEventFilters('OFFLINE',undefined);searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type)">
                            <span class="font-color-primary font-weight-500 font-size-14px">In person</span>
                        </ion-col>
                        <ion-col size="" class="ml-3 h-25px d-flex ion-justify-content-center"
                                 *ngIf="filter_type!='IN_PERSON'"
                                 [class.active]="location_type==='OFFLINE'"
                                 (click)="setEventFilters('OFFLINE',undefined);searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type); filter_type='IN_PERSON'">
                            <span class="font-weight-500 font-size-14px">In person</span>
                        </ion-col>

                        <ion-col size="" class="ml-3 h-25px d-flex ion-justify-content-center b-bottom-2px-primary"
                                 *ngIf="filter_type==='PAID'"
                                 [class.active]="ticket_type==='PAID'"
                                 (click)="setEventFilters(undefined,'PAID');searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type)"
                        >
                            <span class="font-color-primary font-weight-500 font-size-14px">Paid</span>
                        </ion-col>
                        <ion-col size="" class="ml-3 h-25px d-flex ion-justify-content-center"
                                 *ngIf="filter_type!='PAID'"
                                 [class.active]="ticket_type==='PAID'"
                                 (click)="setEventFilters(undefined,'PAID');searchEventInfosScrollingComponent.updateFilters(location_type,ticket_type); filter_type='PAID'"
                        >
                            <span class="font-size-14px font-weight-500">Paid</span>
                        </ion-col>
                    </ion-row>

                </ion-col>

                <ion-col size="12" class="mb-6">
                    <events-search-event-infos [count]="10" [eventStatus]="'ACTIVE'"
                                               #searchEventInfosScrollingComponent>

                    </events-search-event-infos>
                </ion-col>
                <ion-col size="12" class="d-flex ion-justify-content-center mb-8">
                    <ion-button size="large" [routerLink]="'/signedin/events/allevents'">
                        <span class="font-small font-weight-700 ph-8">See More Events</span>
                    </ion-button>
                </ion-col>

            </ion-row>
        </ion-col>


        <ion-col size="12" class="bg-font-color-1 pv-8 ph-4">
            <ion-row>
                <ion-col size="12" class="mb-8">
                    <p class="font-normal font-weight-600 font-color-white ion-text-center mb-10px">Company</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">About Us</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Why Choose us</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Pricing</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p">Testimonial</p>
                </ion-col>
                <ion-col size="12" class="mb-8">
                    <p class="font-normal font-weight-600 font-color-white ion-text-center mb-10px">Resources</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Privacy Policy</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Terms and
                        Condition</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Blog</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p">Contact Us</p>
                </ion-col>
                <ion-col size="12" class="mb-6">
                    <p class="font-normal font-weight-600 font-color-white ion-text-center mb-10px">Product</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Project
                        management</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Time tracker</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Time schedule</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p mb-2">Lead generate</p>
                    <p class="font-small font-weight-400 ion-text-center font-color-white-60p">Remote Collaboration</p>
                </ion-col>

                <ion-col size="10" class="b-top-2px-footer b-bottom-2px-footer m-auto">
                    <ion-row>
                        <ion-col size="12" class="mt-6 mb-6">
                            <p class="ion-text-center font-size-18px font-weight-400 font-color-white">Copyright
                                @2022</p>
                        </ion-col>
                        <ion-col size="12"
                                 class="mb-6 d-flex font-color-white opacity-60p ion-align-items-center ion-justify-content-center">
                            <ion-icon class="w-20px h-20px mr-6" icon="logo-facebook"></ion-icon>
                            <ion-icon class="w-20px h-20px mr-6" icon="logo-twitter"></ion-icon>
                            <ion-icon class="w-20px h-20px mr-6" icon="logo-instagram"></ion-icon>
                            <ion-icon class="w-20px h-20px" icon="logo-linkedin"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>
