.d-inherit {
  display: inherit;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-unset {
  display: unset !important;
}

.d-inline {
  display: inline !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}
