<!--<div class="bg-white">-->
<!--    <div class="row row-align-center">-->
<!--        <div class="col-6 px-0">-->
<!--            <img src="assets/party.png" class="w-100" height="1024px">-->
<!--        </div>-->
<!--        <div class="col-6">-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-9 px-0">-->
<!--                    <label class="font-size-32 font-weight-700 font-poppins">Welcome back to Eventify</label>-->
<!--                    <label class="mt-8px font-poppins text-grey-2 font-weight-400 mb-0">Don't have an account?<span class="text-primary font-weight-400 cursor-pointer" routerLink="/basic/signup"> Create a free account</span></label>-->

<!--                    <users-sign-in-form #loginFormComponent ></users-sign-in-form>-->
<!--                    <div class="mt-40px">-->
<!--                        <button class="btn bg-no-change font-poppins text-white font-weight-700 font-size-18 btn-long btn-color-primary py-24px br-10px">-->
<!--                            Login-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="mt-40px">-->
<!--                        <button class="btn btn-long box-shadow-purple border-0 py-16px">-->
<!--                            <img src="assets/images/google-logo.png" height="24px">-->
<!--                            <label class="mb-0 font-weight-500 font-poppins font-size-18 d-inline-block ml-24px">Login with Google</label>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="mt-20px">-->
<!--                        <button class="btn btn-long box-shadow-purple border-0 py-16px">-->
<!--                            <img src="assets/images/facebook-logo.png" height="24px">-->
<!--                            <label class="mb-0 font-weight-500 font-poppins font-size-18 d-inline-block ml-24px">Login with Facebook</label>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


